---
import type { HTMLAttributes } from "astro/types";

import { Image } from "astro:assets";

import profileImage from "../assets/profile.jpg";
import { formatYAMLException } from "node_modules/astro/dist/core/errors/utils";

type Props = HTMLAttributes<"header">;

const { ...attrs } = Astro.props;

const { title, author, navs } = Astro.locals.config;

const { translate: t } = Astro.locals;
---

<header
  un-lg="grow-1 justify-between items-start"
  un-flex="~ col gap-2.5"
  class="text-center"
  {...attrs}
>
  <hgroup
    un-hover:lg="bg-foreground color-background pt-3.75 pb-8.75 "
    un-lg=" write-vertical-right items-start px-2.5 pb-12 b-l-2px b-l-foreground-solid text-left"
    un-flex="~ col gap-2.5"
    class="cursor-pointer transition-[padding,background] duration-800 ease-in-out"
  >
    <a class="normal" href="/">
      <h3 class="text-5 font-extrabold font-serif">{title}</h3>
      <h1 class="text-8 font-extrabold font-serif">{author}</h1>
    </a>
  </hgroup>

  <nav class="text-center font-bold" un-flex="~ col gap-2">
    <ul
      un-lg="flex-col items-start text-4"
      class="text-3.5"
      un-flex="~ row gap-2 justify-center"
    >
      {
        navs.map((nav) => (
          <li>
            <a href={nav.href}>{t(nav.name)}</a>
          </li>
        ))
      }
    </ul>

    <!-- Socials -->
    <ul un-flex="~ row gap-1 justify-center">
      <li>
        <a
          href="https://github.com/m-karl"
          target="_blank"
          title="GitHub"
          class="icon i-mdi-github"
        />
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/karl-ma/"
          target="_blank"
          title="LinkedIn"
          class="icon i-mdi-linkedin"
        />
      </li>
    </ul>
    <Image style="border-radius: 8px; align-self: center" src={profileImage} alt="profile image" width="170" />
  </nav>
</header>
